@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 21px;
}
.App header ul {
  margin: 0;
  padding: 15px;
}

.App header {
  height: 50px;
  background-color: #46344b;
}

.App header ul li {
  display: inline-block;
}

.App header ul div.right {
  float: right;
  color: white;
}

.App header ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 1em;
}
.App header ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.App h1 {
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px 0 0px 0;
  text-decoration: underline;
}

.App h1.form {
  text-align: center;
  padding: 100px 0 0 0;
  text-decoration: underline;
  color: black;
}

.App p {
  margin: auto;
  text-align: center;
  padding: 10px 0 20px 0;
}

.App h3 {
  /*margin: auto;*/
  text-align: center;
  padding: 10px 0 1s0px 0;
}